@import "../../../../scss/variables.scss";

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.line,
.crossLine {
  width: 18px;
  height: 3px;
  border-radius: 100vw;
  background-color: #fff;
}

.line:not(:last-child) {
  margin-bottom: 4px;
}

.crossLine {
  width: 25px;
  position: absolute;
}

.crossLine:nth-child(1) {
  top: 22px;
  left: 12px;
  rotate: 45deg;
}

.crossLine:nth-child(2) {
  top: 22px;
  left: 12px;
  rotate: -45deg;
}

@media screen and (max-width: 424px) {
  .logoWrapper {
    & img {
      width: 100px;
    }
  }
}

// ==========

.buttonsContainer {
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 1px solid rgba($color: $primaryGrey, $alpha: 0.2);
  color: $fontPrimaryGrey;
  font-size: 12px;
  font-weight: 600;

  &>* {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    padding: 20px;

    &:nth-child(1) {
      border-right: 1px dotted rgba($color: $primaryGrey, $alpha: 0.2);
    }
  }
}

.catalogText {
  margin-left: 5px;
}

.inputContainer {
  position: relative;

  & img,
  & .inputText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  & img {
    left: 20%;
  }

  & .inputText {
    left: 35%;
  }
}

.input {
  width: 100%;
  height: 100%;
  border: none;
}

// ====

.menuOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -15px;
  width: 100vw;
  background-color: #fff;
  z-index: 10000;
}

.companyInfo p {
  // text-align: center;
}

.orderCallContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.orderCallButton {
  padding: 10px;
}

.orderCallText {
  margin-left: 5px;
}

.navigation {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px dotted rgba($color: $primaryGrey, $alpha: 0.2);

  &>* {
    display: block;
    margin-bottom: 15px;
  }
}

.navigationTitle {
  font-size: 20px !important;
}

.background {
  position: absolute;
  top: 100%;
  left: -15px;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.75);
}