@import "../../scss/variables.scss";

.form {
  width: 100%;
}

.types {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &>* {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.error {
  color: $red;
}