.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
}

.description {
  margin: 10px 0 25px;
}

.subscribe {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
}

.navigation, .categories {
  display: flex;
  flex-direction: column;

  &>a:not(:last-child) {
    margin-bottom: 15px;
  }
}

.priceList {
  .subtitle {
    margin: 20px 0 10px;
  }
}

.messengersContainer {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.contacts {

}

.number, .workHours, .orderCall {
  margin-bottom: 10px;
}

.mail {
  margin-top: 35px;
}

.text {
  margin-top: 10px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin-top: 15px;
}