@import "../../scss/variables.scss";

.title {
  margin-bottom: 35px;
}

.types {
  display: flex;
  flex-wrap: wrap;

  &>* {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.createButton {
  margin-top: 20px;
}

.error {
  color: $red;
  margin-bottom: 20px;
}