@import "../../scss/variables.scss";

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

.main {
  flex: 1 1 auto;
}

.footer {
  background-color: $primaryGrey;
  margin-top: 75px
}