@import "../../scss/variables.scss";

.buttonsContainer {
  display: grid;
  grid-template-areas:
    "price quantity cart"
    "share announce price-list";
  justify-items: center;
  align-items: center;
  gap: 25px;
}

.price {
  grid-area: price;
  font-size: 30px;
  font-weight: 800;
}

.changeQuantityContainer {
  grid-area: quantity;
  display: flex;

  &>*:not(:last-child) {
    margin-right: 10px;
  }
}

.quantity {
  font-size: 14px;
  font-weight: 500;
}

.cart {
  grid-area: cart;
  font-size: 14px;
  font-weight: 500;
}

.share {
  grid-area: share;
}

.announcement {
  grid-area: announce;
  text-align: center;
  font-size: 12px;
}

.bold {
  font-weight: 700;
  white-space: nowrap;
}

.priceList {
  grid-area: price-list;
  color: $fontPrimaryGrey;
  background-color: transparent;
}

@media screen and (max-width: 1439px) {
  .price {
    font-size: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .buttonsContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "price quantity"
      "cart share"
      "announce announce"
      "price-list price-list";

    .price,
    .cart {
      justify-self: start;
    }
    .changeQuantityContainer,
    .share {
      justify-self: end;
    }
  }
}

@media screen and (max-width: 767px) {
  .cart {
    padding: 10px 20px;
  }
}