@import "../../scss/variables.scss";

.container {
  display: flex;
  margin-top: 50px;
}

.productImgWrapper {
  text-align: center;
  width: 50%;
  max-height: 470px;
  margin-right: 35px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.productOptions {
  width: 50%;
}

.stock {
  font-size: 14px;
  font-weight: 500;
}

.productName {
  margin-top: 10px;
}

.mainName {
  font-size: 30px;
  font-weight: 500;
  color: $fontPrimaryBlack;
  margin-right: 10px;
}

.secondaryName {
  font-size: 30px;
  font-weight: 400;
  color: $fontPrimaryGrey;
}

.capacity {
  margin-top: 10px;
}

.capacityText {
  display: inline-block;
  margin-left: 5px;
  color: $fontPrimaryGrey;
}

.buttonsContainer {
  margin: 25px 0 35px;
}

.infoContainer {
  &>* {
    margin: 35px 0;
  }
}

.option {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;

  & span {
    font-size: 10px;
  }

}

.optionType {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 300;
  color: $fontPrimaryGrey;
}

.optionValue {
  font-size: 14px;
  font-weight: 500;
}

.description {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 1px dotted $primaryGrey;
}

.options,
.description {
  cursor: pointer;
}

.stock {
  color: $green;
}

.notStock {
  color: $red;
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

    &>* {
      width: 100%;
      height: 100%;
    }
  }

  .productImgWrapper {
    margin-right: 0;
    max-height: none;
  }
}