@import "../../../scss/variables.scss";

.title {
  text-transform: uppercase;
  font-size: 40px;
}

.accent {
  font-weight: 700;
  color: $accent;
}

.usual {
  font-weight: 500;
  color: $fontPrimaryBlack;
}