.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 35px;
}

.title {
  margin-bottom: 35px;
}

@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr;
  }
}